<table>
<tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Location</th>
    <th>Phone Number</th>
    <th>E-mail id</th>
    <th>Actions</th>
</tr>
<% @users.each do |u| %>
 <tr>
   <td><%= u.id %></td>
   <td><%= u.firstname%></td>
   <td><%= u.lastname %></td>
   <td><%= u.location %></td>
   <td><%= u.number %></td>
   <td><%= u.email %></td>
   <td>
     <%= link_to "show", u %>
     <%= link_to "Edit", edit_user_path(u) %>
     <%= link_to 'Delete', u ,method: :delete, data: { confirm: 'Are you sure?' } %>
   </td>
 </tr>
<%end%>
</table>
